* {
    box-sizing: border-box; 
   }
   body {
     margin: 0;
   }


   #main {
     display: flex;
     align-items: center;
     padding-top: 10vh;
     background-color: white;
     flex-shrink:1;
     max-width:100%; 
     height: auto; 
     display: block;
   }
  
   header, footer {
     padding: 1em;
   }

   header{
    background: white;
    height: 87px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 900;
   }

   .header-content{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    align-items: center;
   }


   .h1{
    font-family: 'Playfair Display', serif;
   }

   .titleay{
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: stretch;
    padding-left: 30px;
    padding-top: 5px;
    font-family: 'Playfair Display', serif;
    z-index: 900;
   }

.nav-container{
  position: relative;
  display: inline-block;
  padding-right: 50px;
  z-index: 1000;
}

.nav-container:hover .navmenu{
  display: block;
  
}

 .menu-button{
    height: 100%;
    width: 100%;
 }

   button{
    background-color: #ffffff;
    color: rgb(32, 32, 32);
    padding: 10px;
    font-size: 40px;
    border: none;
   }

   button:hover {
    background-color: white;
    color: black;
   }


   ul.navmenu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 120px; 
    background-color: #f5f5f0;
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
    font-family: 'Ubuntu', sans-serif;
  }

  li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
    }

    li a:hover {
      background-color: white;
      color: black;
      font-family: 'Ubuntu', sans-serif;
    }

    .active {
      background-color: #666666;
      color: white;
      font-family: 'Ubuntu', sans-serif;
    }

    .gallery {
      z-index: 1;
    }

    .item{
      
    }

    .owl-carousel .owl-wrapper {
      z-index: 2;
      height: 80vh;
    }

  .owl-carousel .owl-item img {
      z-index: 3;
      width: 100%;
      object-fit: cover;
  }
  
    footer {
      background: white;
      position: fixed;
      height: 70px;
      bottom: 0;
      left: 0;
      right: 0;
      display: flex;
      justify-content: space-between;
      align-items: stretch;
      font-family: 'Ubuntu', sans-serif;
      z-index: 900;
    }

    a.new-window{
      padding-left: 18px;
    }

    a.facebook{
      background: url(/images/icons/f-ogo_RGB_HEX-58.png) 100% 50% no-repeat;
    }

    a.insta{
      background: url(/images/icons/glyph-logo_May2016-150x150.png) 100% 50% no-repeat;
    }

    a.linkedin{
      background: url(images/icons/In-Black-54px-R.png) 100% 50% no-repeat;
    }

    @media only screen and (max-width: 500px)  {
      header{
        height: 67px;
       }
       .nav-container{
        padding-right: 0px;
      }
       button{
        padding-right: 0px;
        padding: 5px;  
        font-size: 37px;     
       }
       ul.navmenu {
        padding-right: 50px;
        margin-right: 50px;
      }
       .titleay{
        padding-top: 0px;
        padding-left: 0px;
       }
       footer {
        height: 70px;
        background-color: green;
       }
    }

    @media only screen and (max-height: 800px)  {
      header{
        height: 67px;
       }
       .titleay{
        padding-top: 0px;
       }
       footer {
        height: 53px;
       }
    }

  

    